html {
    background-color: #ccc;
    font-size: 16px;
}

/* 1em = 16px */
body {
    background-color: blueviolet;
    width: 50%;
    font-size: 2rem;
}

.pai {
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5rem;
    /* rem (rooth em) olha para a tag raiz, no caso o html para setar o tamanho na filha */   
}

.filha {
    background-color: #1de9b6;
    width: 50%;
    font-size: 1em;
    /* em olha para a tag pai para setar o tamanho na filha */
}