@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/bg-repeat.jpg);
    background-size: contain;
    padding: 0 40px;
}

.duvida {
    color: #FFFFFF;
    width: 300px;
    height: 111px;
    font-size: 15px;
    font-weight: 400;
    margin-right: 25px;
}

.duvida h2 {
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 10px;
}

.formulario {
    background-color: #fff;
    width: 340px;
    height: 378px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
}

input {
    width: 298px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 0 auto;
    color: #A8A8A8;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid black;
}

.nome {
    margin-top: 15px;
}

.mensagem {
    height: 100px;
    padding-bottom: 65px;
}

.btn-enviar {
    background-color: #3CCC87;
    width: 298px;
    height: 41px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    border-style: none;
    margin: 0 auto 15px;
}

.formulario .informativo {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px 10px;
}


/*Caso os campos não sejam preenchidos*/

.sem-preenchimento {
    border: 1px solid #F52E2E;
}

.formulario .campo-obrigatorio {
    font-size: 8px;
    font-weight: 400;
    color: #F52E2E;
    display: block;
    margin: 0 0 0 20px;
}

.formulario .campo-obrigatorio.mostrar {
    display: block;
}


/*Campos preenchidos*/

.preenchido {
    border: 1px solid #00C22B;
}