@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

main {
    background-image: url(../images/bg-repeat.jpg);
    min-height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    max-height: 402px;
}

.duvida {
    color: #FFFFFF;
    width: 300px;
    height: 111px;
    font-size: 15px;
    font-weight: 400;
}

.duvida h2 {
    font-size: 20px;
    font-weight: 900;
}

.formulario {
    background-color: #fff;
    width: 340px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

input {
    width: 298px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #A8A8A8;
    padding-left: 10px;
}

.campo-obrigatorio {
    font-size: 8px;
    font-weight: 400;
    color: #fff;
}

.mensagem {
    height: 100px;
    padding-bottom: 65px;
}

.formulario .informativo {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    width: 315px;
}

.btn-enviar {
    background-color: #3CCC87;
    width: 298px;
    height: 41px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    border-style: none;
}


/*Campos preenchidos*/

.preenchido {
    border: 1px solid #00C22B;
}


/*Caso os campos não sejam preenchidos*/

.formulario .campo-obrigatorio.mostrar {
    color: #F52E2E;
}