body {
    background-color: #FFFFFF;
    font-size: 15px;
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.imagem-logo {
    width: 45px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;

}

.logo {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    gap: 30px;
}

.menu li {
    line-height: 39px;
}

.menu li:hover {
    width: 55px;
    height: 40px;
    background-color: #5BC241;
    text-align: center;
    line-height: 39px;
}

.cadastro {
    width: 127px;
    height: 39px;
    background-color: #5BC241;
    border-radius: 10px;
    border-style: none;
}

.cadastro:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        gap: 40px;
    }

    .name {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
    }

    .menu li:hover {
        width: 140px;
        height: 40px;
        line-height: 40px;
    }

    ul {
        flex-direction: column;
    }

    li {
        text-align: center;
    }

    .cadastro {
        width: 151px;
        height: 55px;
    }
}