
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    background-color: black;
    color: #fff;
    font-family: "Oxanium", cursive, sans-serif;
    display: flex;
    justify-content: center;
}

img {
    width: 429px;
    height: 429px;
}

.informacoes-personagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 483px;
}

.nome-personagem {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    border-bottom: 2px solid #47F4FF;
    padding: 0 82px;
}

.descricao-personagem {
    padding: 20px 30px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}