@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jacquarda+Bastarda+9+Charted&display=swap');

.Caveat {
    font-size: 24px;
    font-family: "Caveat", cursive;
}

.Jacquarda {
    font-family: "Jacquarda Bastarda 9 Charted", serif;
}