div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}

.com-border-box {
    background-color: aquamarine;
    box-sizing: border-box;
    /* largura total do elemento = 100px */
}

.sem-border-box {
    background-color: brown;
    /* largura total do elemento = border esquerdo + padding esquerdo + largura do conteúdo + padding direito + border direito */

    /* altura total do elemento = border superior + padding superior + altura do conteúdo + padding inferior + border inferior */
}